# Add any directories, files, or patterns you don't want to be tracked by version control

#for CICFlowMeter
bin/
data/

# Java class files
*.class

# Log Files
*.log
*.csv
*.arff
logs/

# Eclipse
.settings
.externalToolBuilders/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Ant
build.xml
local.properties

# Gradle files
.gradle/
build/

# Maven
target/
pom.xml.*
release.properties








#back end folder
bower_components/
node_modules/
